/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

.loading {
    padding-top: 100px;
    text-align: center;
}

.btn-register {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.height-table {
    min-height: 400px;
}

.error-message {
    color: red;
    padding: 10px;
}